<div id="contact" class="container fixed-bottom dropup">
  <ul id="contact-icons" class="icons ps-0 pt-1 mb-1">
    <li>
      <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
        <i class="fab fa-github" title="Github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
        <i class="fab fa-linkedin" title="Linkedin"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://scholar.google.com/{{ site.google_scholar | escape }}">
        <i class="fas fa-graduation-cap" title="Google Scholar"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://orcid.org/{{ site.orcid_username | escape }}">
        <i class="fab fa-orcid" title="ORCiD"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="mailto:{{ site.email }}">
        <i class="fas fa-envelope-square" title="Email"></i>
      </a>
    </li>
<!--       <li class="dropup">
        <a href="#" id="contactDownload" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,10">
          <i class="fas fa-file-download" title="Download CV"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="contactDownload">
          <li><a class="dropdown-item" target="_blank" href="/assets/cv/cv_en.pdf">CV in English (PDF)</a></li>
          <li><a class="dropdown-item" target="_blank" href="/assets/cv/cv_de.pdf">CV in German (PDF)</a></li>
        </ul>
      </li> -->
  </ul>
</div>
