<footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <div class="copyright">
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}.</p>
  </div>
  <div>
    <ul class="icons ps-0">
      <li>
        <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
          <i class="fab fa-github" title="Github"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
          <i class="fab fa-linkedin" title="Linkedin"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://scholar.google.com/{{ site.google_scholar | escape }}">
          <i class="fas fa-graduation-cap" title="Google Scholar"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://orcid.org/{{ site.orcid_username | escape }}">
          <i class="fab fa-orcid" title="ORCiD"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="mailto:{{ site.email }}">
          <i class="fas fa-envelope-square" title="Email"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
