<div id="landing" class="row mb-3">
  <!-- <div class="col-12 col-lg-4 mb-3"> -->
    <!-- <img src="/assets/images/logo.svg" alt="" height="200" class="float-lg-end"> -->
  <!-- </div> -->
  <div class="col col-12">
    <h1>{{ cv.basics.name }}</h1>
    <h3>{{ cv.basics.label }}</h3>
    <h4 class="fw-light">{{ cv.basics.location }}</h4>
    <div class="btn-group dropend mb-2" id="download-link">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-file-download"></i>
        Download CV
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" target="_blank" href="/assets/cv/cv_en.pdf">EN</a></li>
        <li><a class="dropdown-item" target="_blank" href="/assets/cv/cv_de.pdf">DE</a></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
