<nav class="navbar navbar-expand-lg navbar-light bg-white mb-2">
  <div class="container">
    <a class="navbar-brand p-0 me-2" href="#">
    <img src="/assets/images/logo.svg" alt="" height="40" class="d-inline-block align-text-middle">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#projects">Projects</a>
        <a class="nav-item nav-link" href="#work">Work</a>
        <a class="nav-item nav-link" href="#education">Education</a>
        <a class="nav-item nav-link" href="#qualifications">Qualifications</a>
        <a class="nav-item nav-link" href="#about">About</a>
        {% comment %} <a class="nav-item nav-link" href="#contact">Contact</a> {% endcomment %}
      </div>
    </div>
  </div>
</nav>
