<div id="projects" class="row mb-3">
  <h3 class="category">Projects</h3>
  <div class="w-100 d-block"></div>
  {% for p in cv.projects %}
    <div class="col-12 col-lg-2 offset-lg-1">
        <h4 class="sub-category text-lg-end">{{ p.title }}</h4>
    </div>
    <div class="col-12 col-lg-9">
      <ul class="icons ps-0">
        <li>
          <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}/{{ p.repo }}">
            <i class="fab fa-github" title="Repository"></i>
          </a>
        </li>
        {% if p.docs %}
          <li>
            <a target="_blank" href="https://{{ p.docs }}.readthedocs.io/">
              <i class="fas fa-book" title="Documentation"></i>
            </a>
          </li>
        {% endif %}
        {% if p.external %}
          <li>
            <a target="_blank" href="{{ p.external }}">
              <i class="fas fa-external-link-square-alt" title="{{ p.external-title }}"></i>
            </a>
          </li>
        {% endif %}
      </ul>
      <div class="clearfix">
        <a target="_blank" href="{{ p.external }}">
          <img src="{{ p.img-url }}" class="img-thumbnail col-md-6 float-md-end mb-3 ms-md-3" alt="{{ p.title }}">
        </a>

        <div>{{ p.summary }}</div>
        <ul class="mb-0">
          {% for highlight in p.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
        <div class="mb-3">
          {% for keyword in p.keywords %}
            <span class="badge bg-secondary">{{ keyword }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
  <hr>
</div>
