<div id="publications" class="row mb-3">
  <h3 class="category">Selected Publications</h3>
  <div class="w-100 d-block"></div>
  {% for p in cv.publications %}
    <div class="col-1 offset-lg-2">
      <h4 class="sub-category">{{ p.releaseDate }}</h4>
    </div>
    <div class="col-12 col-lg-9">
      <h4><a href="{{ p.website }}" target="_blank">{{ p.name }}</a></h4>
      <div class="authors">{{ p.authors | markdownify }}</div>
      <div class="fst-italic">{{ p.publisher }}</div>
      <div class="text-capitalize fw-light">{{ p.summary | markdownify }}</div>
    </div>
  {% endfor %}
  <hr>
</div>
