@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import "variables";

// general
html {
  scroll-padding-top: 80px;
}
body {
  font-family: $font-family-sans-serif;
  font-size: 1.1rem;
}

a {
  color: $accent-color;

  &:hover {
    color: shade($accent-color, 25%);
  };


}

.category {
  color: $gray-700;
}

.sub-category {
  font-weight: bold;
  color: $gray-700;
}

// landing
div #download-link button {
    background-color: $accent-color;

  &:hover {
    background-color: shade($accent-color, 25%);
  };
}

// navbar
nav {
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.95);
}
.navbar .navbar-nav {
  .dropdown-menu {
    font-size: 1.1rem;
  }

  .dropdown-item.active {
    color: $accent-color;
    background-color: white;
  }

  .navbar-brand {
    font-size: 1.5rem;
    color: $dark;
  }

  .nav-link {
    font-size: 1.5rem;
    color: $gray-600;

    &.active {
      color: $accent-color;
    }
  }

  i {
    color: $accent-color;

    &:hover {
      color: shade($accent-color, 25%);
    };
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

// landing
#landing {
  h1 {
    font-size: 4rem;
  };
  padding-top: 80px;
}

// about
img#bio-img {
  width: 300px;
  border-radius: .55rem;
}

#about h4 {
  font-weight: bold;
  color: $gray-700;
}

// projects
.img-thumbnail {
  width: 400px;
}

// education
.degree {
  strong {
    color: $gray-700;
  }
}

// publications
.authors p{
  margin-bottom: 0;
  strong {
    color: $gray-700;
  }
}

// footer
#contact {
  z-index: 1020;
  background-color: rgba(255, 255, 255, 0.95);
}
.copyright {
  font-family: $monospace-font-family;
}

ul.icons li {
  display: inline-block;
  padding-right: 0.75rem;
}

.icons i {
  font-size: 30px;
}

.icons {
  font-size: 1rem;

}

@media screen and (max-width: 540px) {
  #contact-icons {
    text-align: center;
  }
}
