<!doctype html>
<html>
  {% include header.html %}
  <body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="100" tabindex="0">
    <div class="container">
      {% assign cv = site.data.cv %}
      {% include landing.html %}
      {% include projects.html %}
      {% include work.html %}
      {% include education.html %}
      {% include awards.html %}
      {% include skills.html %}
      {% include languages.html %}
      {% include publications.html %}
      {% include about.html %}
    </div>
    {% include footer.html %}
    {% include contact.html %}
  </body>
</html>
